# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.Points of Interest.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\cades\Points of Interest\.idea\.idea.Points of Interest\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
