# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.CPSC 220 Final Project.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\cades\Unity Projects\CPSC 220 Final Project\.idea\.idea.CPSC 220 Final Project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
